#go_back>a {
    padding: 0 !important;
    text-decoration: none !important;
    margin-bottom: 2%;
}

.image_list img {
    width: 100%;
    border: 1px black solid;

}

.delete_form .mask {
    background-color: #E9ECEF;
}

.border {
    border-radius: 2ex;
    padding: 21px;
}

.border-pic {
    margin-bottom: 2%;
    position: relative;
}

.image_list button {
    position: absolute;
    top: 4%;
    right: 9%;
}