/*card*/
.product_view img {
    margin: 2% 0;
    width: 155px;
    height: 250px;
}

.card {
    height: 480px;
    display: none;
    font-family: 'Oxygen', sans-serif;
}

.card_body {
    height: 160px;
    position: relative;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    filter: brightness(95%);
    background: lighten(#1d1d1d, 5%);
}

.card_title {
    font-size: 1em;
}

.card_price {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    bottom: 0;
    position: absolute;

}