#cart_table .table,
#cart_table tr,
#cart_table td,
#cart_table th {
    border: 1px solid black !important
}

h3 {
    margin: 0;
}

#no_product h3 {
    padding: 150px;

}

.quantity_input {
    width: 100%;
}

#borderless td,
#borderless th {
    border: none;

}

#borderless .btn {
    margin-right: 3%;
}

.btn_la {
    background-color: #FFF200;
    color: black;

}

.la {
    margin-left: 11% !important
}

.btn_la:hover {
    filter: brightness(1.25) !important;
    transition: 2.55s ease-out 0s;
}