* {
    margin: 0;
    padding: 0;
}

/* RWD */
@media (min-width: 576px) {
    html {
        width: 95%;
    }
}

@media (min-width: 768px) {
    html {
        width: 95%;
    }
}

@media (min-width: 992px) {
    html {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    html {
        width: 95%;
    }
}

/* Global styles */
html {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    padding: 2% 10%;
    background-image: url('../image/background.jpg');
}

.container-fluid {
    margin-top: -3%;
}

hr {
    border: 1px solid white;
    margin: 3% 0;
}

.hr_black {
    border: 1px solid rgb(102, 98, 98);
}

/* Header */
.navbar-brand img {
    height: 10%;
}

.navbar-nav a {
    font-family: 'Oxygen', sans-serif;
}

.search-bar {
    height: auto;
    width: auto;
    position: inherit;
    display: inline-block;
    top: 50%;
    left: 90%;
    transform: translate(0%, 0%);
    box-sizing: border-box;
}

.search-bar input {
    height: 41px;
    width: 41px;
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;
    color: transparent;
}

.search-bar input::placeholder {
    color: transparent;
}

.search-bar input:invalid {
    box-shadow: none;
}

.search-bar input:hover {
    border: 2px solid rgb(104, 104, 104);
    box-shadow: 0 0 2px 2px #eee;
}

.search-bar input:focus,
.search-bar input:valid {
    width: 200px;
    border: 2px solid rgb(12, 11, 11);
    outline: none;
    cursor: auto;
    background-color: #fff;
    color: #000;
}

.search-bar input:focus::placeholder,
.search-bar input:valid::placeholder {
    color: #999;
}

.search-bar input:focus + .search-icon,
.search-bar input:valid + .search-icon {
    z-index: 0;
    border-color: #ccc;
    right: 20px;
}

.search-bar input:focus + .search-icon:after,
.search-bar input:valid + .search-icon:after {
    background-color: #ccc;
}

.search-icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #7c7c7d;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;
}

.search-icon:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 12px;
    transform: rotate(45deg);
    height: 2px;
    width: 10px;
    background-color: #7c7c7d;
    border-radius: 10px;
}

/*body*/
.jumbotron {
    margin-bottom: 0;
}

/*footer*/
.page-footer {
    background-color: rgb(33, 34, 34);
}

.ftcolor {
    background-color: rgb(0, 0, 0);
}

.footer-title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.footer-content {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.footest-word {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.page-footer a {
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.page-footer a:hover {
    color: rgb(161, 161, 161);
}

.setting_button {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.setting_button:hover {
    background-color: rgb(110, 110, 110);
    color: #eee;
    text-decoration: none;
}

.setting_button_row {
    margin-bottom: 50px;
}

#hidden_form {
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;

    overflow: hidden;
    background-color: rgb(247, 247, 247);
    margin: 35px 0;
    padding: 15px;
    border-radius: 10px;
    border: rgb(226, 226, 226) solid 5px;
}

#hidden_form.hide {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

.delete_form.hide {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#hidden_form .cancel_button {
    background: rgb(219, 219, 219);
    height: 25px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

#hidden_form .cancel_button:hover {
    text-decoration: none;
    background: red;
    color: #eee;
}

.setting_list {
    background-color: #999;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 10px 0;
}

.delete_form input {
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    transition: 1s ease-out;
    background-color: #f44336;
    width: 45px;
    padding: 8px 2px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    color: #ddd;
    cursor: pointer;
}

.delete_form .mask {
    position: absolute;
    transition: all 0.75s linear;
    height: 36px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #999;
}

.delete_form .f_delete {
    background-color: red;
    position: absolute;
    transition: all 1s linear;
    left: 60%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 8px 2px;
    text-decoration: none;
    color: #ddd;
}

.delete_form .f_delete:hover {
    text-decoration: none;
}

.delete_form.active .mask {
    right: 100%;
}

#searchBarForm input.hidden {
    display: none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #afc9e3;
    border: 2px solid;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    border: 2px solid;
    background-color: rgb(255, 255, 255);
}

.table td,
.table th {
    width: 0.1rem;
}

.edit-user-btn {
    margin-left: 10px;
    margin-top: 10px;
}

.nodeco-btn a {
    text-decoration: none;
}

/*dropdown */
.wrap {
    line-height: 1.15;
}

.list {
    padding: 0;
    font-size: 15px;
    font-size: 1.125rem;
    list-style: none;
}

.list li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #3e3f44;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
    -webkit-filter: dropshadow(color=#000, offx=1, offy=0);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding: 5px;
    padding-left: 20px;
    border-radius: 1px;
}

.f_item {
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    list-style: none;
    transition: 0.7s;
}

.f_item li a {
    background: white;
    font-size: 14px;
    font-size: 0.875rem;
    color: black;
    text-shadow: 1px 0px 1px rgba(255, 255, 255, 0.5);
    -webkit-filter: dropshadow(color=#000, offx=1, offy=0);
    filter: dropshadow(color=#000, offx=1, offy=0);
}

.f_item li a:hover {
    background: #e7e3e3;
}

.list li:hover .item2 {
    height: 81px;
}

.dropdown:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    right: 16px;
    transform: rotate(45deg);
    top: 13px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: 0.4s;
}

.dropdown2 {
    margin: 3% 0;
}
.carousel-inner {
    margin: 0 auto;
}
.carousel-inner img {
    width: auto;
    height: 600px;
}
.carousel-inner > .carousel-item > img {
    margin: 0 auto;
}
