* {
    margin: 0;
    padding: 0;
}

/* RWD */
@media (min-width: 576px) {
    html {
        width: 95%;
    }
}

@media (min-width: 768px) {
    html {
        width: 95%;
    }
}

@media (min-width: 992px) {
    html {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    html {
        width: 95%;
    }
}

/* Global styles */
html {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

body {
    padding: 2% 10%;
    background-image: url('../image/background.jpg');
}

.container-fluid {
    margin-top: -3%;
}

hr {
    border: 1px solid white;
    margin: 3% 0;
}

/* Header */
.navbar-brand img {
    height: 10%;
}

.navbar-nav a {
    font-family: 'Oxygen', sans-serif;
}

.search-bar {
    height: auto;
    width: auto;
    position: inherit;
    display: inline-block;
    top: 50%;
    left: 90%;
    transform: translate(0%, 0%);
    box-sizing: border-box;
}

.search-bar input {
    height: 41px;
    width: 41px;
    padding: 10px 16px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;
    color: transparent;
}

.search-bar input::placeholder {
    color: transparent;
}

.search-bar input:invalid {
    box-shadow: none;
}

.search-bar input:hover {
    border: 2px solid rgb(104, 104, 104);
    box-shadow: 0 0 2px 2px #eee;
}

.search-bar input:focus,
.search-bar input:valid {
    width: 200px;
    border: 2px solid rgb(12, 11, 11);
    outline: none;
    cursor: auto;
    background-color: #fff;
    color: #000;
}

.search-bar input:focus::placeholder,
.search-bar input:valid::placeholder {
    color: #999;
}

.search-bar input:focus+.search-icon,
.search-bar input:valid+.search-icon {
    z-index: 0;
    border-color: #ccc;
    right: 20px;
}

.search-bar input:focus+.search-icon:after,
.search-bar input:valid+.search-icon:after {
    background-color: #ccc;
}

.search-icon {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #7C7C7D;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;
}

.search-icon:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 12px;
    transform: rotate(45deg);
    height: 2px;
    width: 10px;
    background-color: #7C7C7D;
    border-radius: 10px;
}

/*body*/
.jumbotron {
    margin-bottom: 0;
}

/*footer*/
.page-footer {
    background-color: rgb(33, 34, 34);
}

.ftcolor {
    background-color: rgb(0, 0, 0);
}

.footer-title {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.footer-content {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.page-footer a {
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

.page-footer a:hover {
    color: rgb(161, 161, 161);
}

.footest-word {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}